@model IEnumerable<Crow.Models.Photo>

@{
    ViewData["Title"] = "Index";
    var userBirdId = ViewBag.UserBirdId;
    var birdCommonName = ViewBag.BirdCommonName;
}

<div class="d-flex justify-content-between align-content-center mb-4 ms-1">
    <h1 class="page-header">@birdCommonName Photos</h1>
    <div>
        <a class="btn crow-btn-primary color-3 upload-btn" asp-action="Create" asp-route-userBirdId="@userBirdId">
            Upload
        </a>
    </div>
</div>  

<div class="d-flex align-items-center justify-content-start mt-5">
    <button class="btn sort-btn dropdown-toggle ms-0 rounded-pill" type="button" id="sortMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
        Sort
    </button>
</div>

<!-- Photo Gallery -->
<div class="d-flex container justify-content-center mt-1">
    @if (Model.Any())
    {
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-md-3 g-1 photo-gallery justify-content-start">
            @foreach (var item in Model)
            {
                <div class="col photo-gallery-item" data-id="@item.Id">
                    <div class="photo-frame">
                        
                            <img class="gallery-image" src="@Url.Action("DisplayPhoto", "Photos", new { id = item.Id })" alt="@item.FileName" />
                            <div class="photo-info-overlay">
                                <p>@item.Location</p>
                                <p>@item.Date</p>
                                <p>@item.Time</p>
                                <p>@item.Notes</p>
                            </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p class="no-photos">No photos available for this bird.</p>
    }
</div>

<div class="modal fade" id="photoModal" tabindex="-1" role="dialog" aria-labelledby="photoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content-wrapper" id="modalContentWrapper">
            <div class="modal-content">
                <span class="close-modal" data-dismiss="modal" aria-label="Close" aria-hidden="true">&times;</span>
                <img id="modalImage" src="" alt="Photo" />
                <div class="photo-info">
                    <div class="scrollable-content">
                        <b>Location</b>
                        <p id="modalLocation" class="info-text"></p>
                        <b>Date</b>
                        <p id="modalTime" class="info-text"></p>
                        <b>Notes</b>
                        <p id="modalNotes" class="info-text"></p>
                    </div>
                    <div class="details-btn-group">
                        <a class="btn crow-btn-secondary mt-2" id="modalId" href="">Edit</a>
                        <a class="btn crow-btn-secondary danger-btn mt-2" id="modalId" href="">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>